{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<ul>
{% for post in object_list %}
    <li class="home-text"><a class="home-text" href="{% url 'blog-article' post.pk %}">{{ post.title }}</a> - 
        {{ post.author }} <small><a href="{% url 'update_post' post.pk %}"a>Edit</a></small>
        <small><a href="{% url 'delete_post' post.pk %}"a>Delete</a></small><br>
    {{ post.body|slice:"200"|safe }}</li>
{% endfor %}
</ul>

{% endblock %}