{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <h2 class="home-text text-center">{{ post.title }}</h2>
    <small class="home-text">By: {{ post.author }}</small><br>
    <hr>
    <br>
    <p class="home-text text-center">{{ post.body }}</p>
    <br>
    <br>

    <a href="{% url 'blog' %}" class="btn btn-outline-black rounded-0 mt-5">
        <span class="icon">
            <i class="fas fa-chevron-left"></i>
        </span>
        <span class="home-text text-uppercase">Back To Blog</span>
    </a>

{% endblock %}