{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<h2 class="home-text text-center">Delete Post</h2>
<br>
<h3 class="home-text text-center">Delete: {{ post.title }}</h3>
<div class="row justify-content-center align-items-center">
<div class="form-group">
<form class="text-center" method="POST">
    {% csrf_token %}
        <strong class="home-text text-center">ARE YOU SURE???</strong>
        <br>
        <br>
        <button class="home-text btn border-black text-uppercase">Delete</button>
</div>
</div>
{% endblock %}