{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
      <div class="col">
      </div>
    </div>
</div>
{% endblock %}

{% block content %}
<section class="home">
  <img src="/media/home.jpg" alt="">
</section>
<br>
<h2 class="home-text">About Lakka</h2>
<br>
<section class="about">
  <div class="container-fluid">
  <div class="row justify-content-center">
    <div class="about-img about-con col-6">
      <img src="/media/michaela-murphy-jlG41_nbXOk-unsplash.jpg" alt="">
    </div>
    <div class="about-con col-6">
      <h3 class="home-text">Who Are We?</h3>
    </div>
  </div>
</div>
<br>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="about-con col-6">
      <h3 class="home-text">What Do We Do?</h3>
    </div>
    <div class="about-img about-con col-6">
      <img src="/media/woodworkchisel.jpg" alt="">
    </div>
    
  </div>
</div>
<br>
<h2 class="home-text">Client Testimonials</h2>
<br>
<section class="testimonials">

</section>
<br>
{% endblock %}