{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col">
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<section class="home">
  <img src="{{ MEDIA_URL }}home.jpg" alt="">
</section>
<br>
<h1 class="home-text">About Lakka Furniture</h1>
<br>
<section class="about">
  <div class="container">
    <div class="row home-row justify-content-center">
      <div class="about-img col-lg-6 col-sm-12">
        <img src="{{ MEDIA_URL }}michaela-murphy-jlG41_nbXOk-unsplash.jpg" alt="">
      </div>
      <div class="about-con col-lg-6 col-sm-12">
        <h2 class="home-text">Who Are We?</h2>
        <p class="home-para abt-txt home-text text-center">Established in the late 90's Lakka Furniture was the brain
          child of two friends - Sam and Simon - who wanted
          to make a change in the boring flat pack culture of furniture. They decided bespoke one of a kind items was
          the way to go! Their business quickly took off and realised that they couldn't keep up with the requests for
          their goods. Sam and Simon decided instead to mass produce some of their best items to keep customers happy.
          20
          years later and they are still doing it!
        </p>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row about-row home-row justify-content-center">
      <div class="about-con col-lg-6 col-sm-12">
        <h2 class="home-text">What Do We Do?</h2>
        <p class="home-para abt-txt home-text text-center">At Lakka we can offer you not only the best stock products
          but also one of a kind furniture!
          Please contact us for any bespoke items that you would like to have made specifically for you and your vision!
          Our contact details are below
          in the footer.
        </p>
      </div>
      <div class="about-img col-lg-6 col-sm-12">
        <img src="{{ MEDIA_URL }}woodworkchisel.jpg" alt="">
      </div>

    </div>
  </div>
  <br>

  {% endblock %}