{% extends "base.html" %}
{% load static %}

{% block page_header %}
  <div class="container header-container">
    <div class="row">
      <div class="col">
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="parallax-overlay">
  <parallax class="parallax home-para"></parallax>
</div>
  <!-- <div class="home-img container h-100">
    <div class="row h-100">
      <div class="col7 col-md-6 my-auto">
          <h4>
            <a href="" class="view-btn btn btn-lg rounded-1 text-uppercase py-3">View Furniture Here!</a> 
          </h4>
      </div>
    </div>
  </div>
  <section>
    <div class="container">
      <div class="row">
        <div class="about-img col-6">
          <img src="/media/woodworkchisel.jpg" alt="about-img">
        </div>
        <div class="about-content col-6">
        </div>
      </div>
    </div>
  </section> -->
{% endblock %}