@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body   {
    height: 100%;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: transparent;
    background-size: cover;
    color: #557a95;   
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important; 
}

.navbar-nav {
    font-size: 20px !important;
}

.nav-logo {
    text-align: start;
}

.nav-auth {
    text-align: end;
}

.nav-link {
    width: fit-content;
}

.topnav {
    background-color: white;
    overflow: hidden;
  }

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
  }
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
.topnav a.active {
    color: black;
  }

h2, h3 {
    text-align: center;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.btn {
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    background-color: #f9bc50 !important;
}

.form-control {
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
}

.view-btn {
    background: #f2f2f2;
    color: #330000;
    min-width: 260px;
}

.btn-black {
    background: #f2f2f2;
    color: #330000;
}

.btn-outline-black {
    background: #f2f2f2;
    color: #330000 !important; /* use important to override link colors for <a> elements */
    border: 1px solid #330000;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: #330000;
    color: #f2f2f2 !important;
}

.view-btn:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #f2f2f2;
    color: #330000;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;  
    background: #f2f2f2;
    color: #330000;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.custom-select {
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
}

.home-text {
    color: #330000 !important;
}

.home-para {
    padding-top: 10px;
}

.h3-home {
    margin-top: 50px;
}

.about-con {
    max-height: 500px;
    max-width: 500px;
    border: 1px solid black;
    justify-content: center;
}

.abt-txt {
    padding-top: 75px;
}

.border-black {
    border: 1px solid #f2f2f2 !important;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.border-black {
    border: 1px solid black !important;
}

.border-info {
    border-color: #330000 !important;
}

.text-info {
    color: #f9bc50 !important;
}

.copyright  {
    background-color: black;
    color: #f9bc50;
}

img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  }

.about-img {
    position: relative;
    max-height: 500px;
    max-width: 500px;
    border: 1px solid black;
    overflow: hidden;
    padding: 0 !important;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.about-img:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }


.home-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

/* .card-order {
    display: flex;
    justify-content: center;
} */

.card-img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    max-height: 500px;
    overflow: hidden;
}

.card-img:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  
.card-img img {
    position: absolute;
    max-width: 500px;
    max-height: 500px;
    transform: scale(2);
    justify-content: center;
  }

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    .h3-home {
        margin-top: 10px;
    }

    .abt-txt {
        padding-top: 10px;
    }

    .about-img {
        max-height: 400px;
        max-width: 400px;
    }

    body {
        height: calc(100vh - 116px);
    }
}